<html>
 <head> 
 	<title> This is my blog site </title>
 </head>
<body>

<div>
	<p> published : 03.06.2017 10:28 </p>
	<h2><a href=""> My first post</a></h2>
	<p> 
		Today we are learning about the django static files. we learned lot of good information which was relative to
		how to display the static files like css and java script. we learned about STATICFILES_DIR and we also learned
		about the STATIC_ROOT.
	</p>

</div>

<div>

	<p> published : 03.06.2017 10:45 </p>
	<h2><a href=""> My second post</a></h2>
	<p> 
		we have already learned about templates. We are tyring to integrate the ORM backend data into our html pages.
		Lets hope we will get the data from the backend database into our html pages.
	</p>

</div>


</body>
</html>