<!DOCTYPE html>
<html lang="en">

<head>
{% block 'title' %}  {% endblock %}
{% include 'bootstrap/head.html' %}
</head>

  <body>
{% include 'bootstrap/navbar.html' %}

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">{% block 'header' %}  {% endblock %}</h1>
       </div>
    </div>

    <div class="container-fluid">

      <!-- <div class="row"> -->

       
            {% block 'content' %}  {% endblock %}
           

      <!-- </div> --><!-- /.row -->

    </div><!-- /.container -->
{% include 'bootstrap/footer.html' %}
  </body>
</html>
