{% extends 'base.html' %}

{% block title %}  <title> Welcome to our Blog </title> {% endblock %}
{% block header %} Welcome to our blog {% endblock %}

{% block content %} 

{% include 'bootstrap/sidebar.html' %}

 <div class="col-sm-8 blog-main">
 
{% for value in blogdb %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ value.title }}</h2>
            <p class="blog-post-meta">{{ value.created_date | date:"Y-m-d" }} by <a href="#">{{ value.author }}</a></p>
            <p>
                {{ value.text}}
            </p>
           
          </div><!-- /.blog-post -->
{% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->


{% endblock %}