{% extends 'base.html' %}

{% block content %} 
<div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <div class="blog-post">
{%  for value in namesdb %}
            <h2 class="blog-post-title">{{ value.title }}</h2>
            <p class="blog-post-meta">{{ value.created_date }}  by <a href="#">{{ value.author }}</a></p>
            <p>{{ value.text }}</p>
{% endfor %}
          </div><!-- /.blog-post -->
          </div>
{% include 'bootstrap/sidebar.html' %}
      </div><!-- /.row -->



{% endblock %}
