{% extends 'base.html' %}

{% block jumbtron %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to the Key2Gyaaan - Learning Django a easy way!! </h1>
        <p>We are more inot the opensource solution for multiple projects.
           We also deal with Python,Django,Openstack and related worlds.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Join Us  &raquo;</a>
        </p>
      </div>

<div class="row">
			<div class="col-sm-3 pull-right" >
				<p> Welcome to python sessions </p>
			</div>
			<div class="col-sm-3 pull-right" >
				<p> Welcome to Django sessions</p>
			</div>
			<div class="col-sm-3" >
				<p> Welcome to Devops sessions</p> 
			</div>
			<div class="col-sm-3" >
				<p> Welcome to Openstack sessions</p>
			</div>
</div>

{% endblock %}